* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #ebcece;
  margin: 0;
}

#membrete {
  background-color: #8673a1;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.7);
}

#membrete p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0.4rem;
}

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  /* background: rgba(0, 0, 0, 0.7); */
  background: #ffffff;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.7);
}

.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #cf0025;
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.9rem;
  margin-bottom: 2rem;
  color: #000000;
  font-weight: bold;
}
.form .input-group {
  background: transparent !important;
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #8673a1;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #8673a1;
  background: transparent;
  font-size: 0.8rem;
}
.submit-btn {
  color: #fff;
  display: block;
  margin: 0px 100px 0px;
  border: none;
  outline: none;
  background: #8673a1;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s ease;
}

.submit-btn:hover {
  transform: scale(1.07);
}

.cBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #ffe4e1;
  border-color: #ffe4e1;
}

.icono {
  color: #8673a1;
}
